input[readonly="readonly"] {
    border:0px;
    background-color:transparent;
}

#loginout {
    padding:5px 20px;
    margin-top:10px;
}

.input-group-btn{
    margin-left: 5px;
    padding-left: 10px;

}

.dateSelect{
    padding-bottom: 10px;

}

.serviceitem{
    border: 1px solid #000043;
    border-radius: 10px;
    overflow: hidden;


}

.servicecontainer{
    width:100%;
    min-height: 200px;
}

.receiptcont {
    width:100%;
}

.Tableheader {
    border-bottom: 1px solid #000043;
    font-size: large;
    color: darkblue;

}

.form-submit{
    text-align: center;

}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
}

#myDiv {
    display: none;
    text-align: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 10px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 20%;
}

tr:nth-child(even) {
    /*background-color: #dddddd;*/
}

/*td:nth-child(1){*/
/*width:200px;*/
/*}*/

#true {
    text-align: center;
    color:darkgreen;
}
#false{
    text-align: center;
    color:darkred;
}

.fa-exclamation-triangle{
    color:gold;
}

#date{
    text-align: center;
    font-weight: bold;
}

#housename{
    font-weight: bold;
}

#spacer{
    width: 100%;
    height: 20px;
    background-color: #000043;
}

#myInput {
    width: 50%;
    font-size: 16px;
    padding: 12px 20px 12px 10px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

.fa-search {
    font-size: 20px;
    padding: 11px 20px 15px 20px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

.moveto{
    color: darkred;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    /*padding: 16px;*/
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}